[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
typing-extensions = {git = "git+https://github.com/python/typing_extensions.git#egg=typing_extensions"}

[dev-packages]

[requires]
python_version = "3.12"
